@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    
}

/* Bootstrap Changes */

.nav-link{
    font-size: 1rem;
}

.navbar-nav{
    margin-left: 60%;
    padding: 1.5rem;
}

.btn-outline-dark{
  color: #125D98 !important;
}

.btn-outline-dark:hover{
  color: #ffffff !important;
  background-color: #125D98 !important;
}




/* Index File Classes */

.container-nowShow{
padding: 1.2rem;
}

.badge-div{
    padding-bottom: .8em;
}

.span-bold{
  font-weight: 600;
}
.container { 
  height: 30px;
  position: relative;

}

.bg-grey{
  background-color: #fafafa;
}

.btn-cineflex{
  background-color: #125D98 !important ;
}
.btn-cineflex:hover{
  border-color: #125D98 !important;
  background-color: #ffffff !important;
  color: #125D98 !important;
}

.btn-bookings:hover{
  border-color: #f0ad4e !important;
  color: #f0ad4e !important;
  background-color: #ffffff !important;

}

a.active{
  background-color: #125D98 !important;
}

.list-group-item{
  padding: 2rem !important;
}

.list-group-div{
  margin: 0rem 2rem 0rem 2rem !important;
}

.pill-a{
  font-size: 1.3rem;
  background-color: rgb(255, 255, 255);
   box-shadow:  3px 3px 1px #b6b6b6;
   color: #125D98;
   margin: 1.3rem;
}



.pill-span{
  display: block;
  font-size: .8rem;
  text-align: center;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


/* User Login Files */

.login-container {
    height: 100vh;
    width: 100%;
}
.login-form {
    margin: auto;
    width: 460px;
    background-color: #f7f7f7;
    padding: 20px;
    max-width: 100%;
    border-radius: .5rem;
    
}

.login-form .form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}

.login-form a {
    text-decoration: none;
    color: #f7f7f7;
}

.btn-login:hover{
  border-color: #858788 !important;
  background-color: #ffffff !important;
  color: #125D98 !important;
}

.btn-login{
background-color: #125D98 !important;
border-color: #125D98 !important;

}

.btn-book{
  background-color: #ffffff !important;
  border-color: #125D98 !important;
  color: #125D98 !important;
  margin: 4rem 1rem 1rem 1rem;
}

.btn-book:hover{
  background-color: #125D98 !important;
  border-color: #125D98 !important;
  color: #ffffff !important;
}

.btn-filled{
   background-color: #ffffff !important;
  border-color: #ff0101 !important;
  color: #ff0101 !important;
  margin: 4rem 1rem 1rem 1rem;
}

.btn-filling{
   background-color: #ffffff !important;
  border-color: #ffae00 !important;
  color: #ffae00 !important;
  margin: 4rem 1rem 1rem 1rem;
}

.btn-filling:hover{
  background-color: #ffae00 !important;
  border-color: #ffae00 !important;
  color: #ffffff !important;
}



.tips {
  display: inline-block;
  position: relative;
  
  font-size: 1.2rem;
  font-family: 'Ubuntu';
}

.tips:focus,
.tips:hover {
  cursor: pointer;
}

.tips:focus .tips-text,
.tips:hover .tips-text {
  display: block;
}

.tips-text {
  display: none;
  position: absolute;
  bottom: 130%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100px;
  padding: 5px 5px;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  background: #003566;
  font-family: 'Ubuntu';
  border-radius: 5px;
}

.tips-text::after {
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: #001b35 transparent transparent;
}

.forgot-link {
    font-size: 15px;
}

.form-link{
  color: black !important;
}

.seat-selection{
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seats{
  border: 2px solid #125D98;
  background-color: #ffffff;
  height: 20px;
  width: 22px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seats.selected-seat{
  background-color: #125D98;
  border: #125D98;
}

.showcase li p{
  margin-left: 5px;
  margin-top: 17px;
}

.seats.selected-seat{
  background-color: #125D98;
}

.seat-rows{
  display: flex;
  margin: 1rem 1.5rem;
}

.seats.sold-seat{
  background-color: #f03a0d;
  border: #f03a0d;
}




.seats:not(.sold-seat):hover{
  cursor:pointer;
  transform: scale(1.1);
  
}

.showcase .seat:not(.sold-seat):hover{
  cursor: default;
  transform: scale(1);
}

.showcase{
  background:rgb(255, 255, 255) ;
  padding: 0px 8px;
  border-radius: 5px;
  color: #001b35;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.screen{
  background-color: #535353;
  height: 10px;
  width: 100%;
  margin-top: 4rem;
  border-radius: 50%;
  

  margin-bottom: 4rem;
 
  box-shadow: 0 8px 15px #7a7a7a;
}

.ticket-container{
  background-color: #003566;
  box-shadow: 4px 10px 15px #d4d4d4;
  color: #fafafa;
  margin-top: 1.5rem;
  align-items: center;
  
  vertical-align: middle;
  padding: 1rem;
  width: 450px;
  height: 60px;
  border-radius: 5px;
}

.row-name{
  padding-right: 1rem;
  padding-bottom: 2px;
  
  font-size: 1.3rem;
}

.seats:nth-last-of-type(7){
  margin-left: 20px;
}

.seats:nth-of-type(5){
  margin-right: 20px ;
}

.seat-rows:nth-of-type(2){
  margin-bottom: 30px;
}

